body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: #222;
	padding: 50px 25px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: orange;
}
h1 {
	color: darkorange;
	font-weight: 100;
	font-size: 3em;
	margin: 0 0 5px 10px;
	text-transform: uppercase;
}
main {
	padding: 30px 20px;
	max-width: 600px;
	background: #333;
	border-radius: 10px;
}
footer {
	padding-top: 15px;
	border-top: #888 solid 1px;
	display: flex;
	justify-content: space-around;
}
img {
	width: 100%;
}
a {
	color: orange;
	margin: 5px 0;
	text-decoration: none;
}
b {
	font-weight: 500;
}
strong {
	font-size: 1.8em;
	font-weight: 400;
}
p {
	font-weight: 100;
	font-size: 1.3em;
}
a:hover {
	color: #ff6a00;
}
a:active {
	color: darkorange;
}
header > div > p {
	font-size: 2em;
	margin: 0;
}
header {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: #888 solid 1px;
}
header nav {
	position: absolute;
	margin: 3px 0 0 -10px;
	padding: 10px;
	border-radius: 10px;
	background: #333;
	display: none;
	flex-direction: column;
	box-shadow: 0 0 5px black;
}
header div {
	background: #222;
	padding: 0 7px 3px 7px;
	border-radius: 10px;
	transition-property: background;
	transition-duration: 0.3s;
}
header div:hover > nav {
	display: flex;
}
header div:hover {
	background: #444;
}
.grid {
	display: grid;
	grid-template-columns: 60% 40%;
}